@font-face {
    font-family: myRoboFont;
    src: url('./Zilap\ Black\ Storm\ DEMO.ttf');
}
.myFont {
    font-family: myRoboFont;
    font-weight: bold;
}
.myBlue {
    color: rgba(0, 225, 255, 0.63);
}
.myRed {
    color: rgb(223, 50, 50);
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.my-spin-loader {
    /* padding-top: 35vh; */
    animation-name: spin;
    animation-duration: 1200ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}